<% include partials/header.ejs                                                  %>
<input type="textarea" class = "assyrian">
<a class = "assyrian">ܫܠܵܡܵܐ ܐܸܠܵܘܚܘܿܢ</a>
<% include partials/footer.ejs                                                  %>