<% include partials/header.ejs                                                  %>
<h1>Add A Song</h1>
<h6>Required Info</h6>
<br>
<div class = "forms">
      <div class="form-group" id = artist>
        <input class="form-control" type="text" name="artist" placeholder="Artist">
      </div>
</div>
<% include partials/footer.ejs                                                  %>